# Database
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=carrent
DB_DIALECT=mysql

# JWT
JWT_SECRET=your_secret_key_here

# CORS
CORS_ORIGIN=*

# Cloudinary Configuration
CLOUDINARY_CLOUD_NAME=dhmcnwfhu
CLOUDINARY_API_KEY=173519372557266
CLOUDINARY_API_SECRET=XVNq1LEukUZIoR49Kl4sfQSXCzM
